@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  body {
    @apply bg-slate-900;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #bbf1f1;
  }
  ::-webkit-scrollbar-thumb {
    border: 2px solid #bbf1f1;
    @apply bg-teal-500/70 rounded-md;
  }
}

.movieBox:hover > .info {
  height: 60%;
  transition: all 0.3s ease-in;
  @apply bottom-0;
}

.loader {
  animation: loading 0.5s linear infinite;
}

.active {
  @apply bg-teal-600/40 backdrop-blur-sm text-white;
  transition: all 0.2s ease-in;
}

.btn {
  @apply px-4 py-2 hover:bg-slate-600 duration-150 capitalize w-fit rounded text-white border border-slate-700;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
